@font-face {
    font-family: 'Shrikhand';
    src: url('shrikhand/Shrikhand-Regular.otf');
}

@font-face {
    font-family: 'Roboto';
    src: url('roboto/Roboto-Black.ttf');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('roboto/Roboto-Light.ttf');
}


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,h2,ul , li , h5{
    margin: 0;
    padding: 0;
    
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}
    /* Headeur */
    header {
       
        margin-top: 10px;
        display: flex;
      
        margin-bottom: 5px;
        width: 100%;
    }

    header > a {
        display: flex;
        justify-self: flex-start;
    }

    #logo_accueil{
      
        height: 30px;
        text-align: center;
    }

    .fleche{
        margin-left: 5px;
        margin-top: 5px;
        font-size: 20px;
    }

    /* Fin headeur */


    .image_menu{
        width: 100%;
     
    }

    /* Menu */
    .image_carte_menu{
        position: relative;
    }

    .cartes_menu{
        background-color: #f6f6f6 ;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        position: absolute;
        width: 100%;
        top: 80%;
    }

    .titre_coeur{
        display: flex;
        justify-content: space-between;
        font-family: Shrikhand ;
        padding: 30px;
    }

    /* */
    .menu{
        visibility: visible;
    }

    .type_menu{
        font-size: 20px;
        font-weight: lighter;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
    }


    .type_menu::after{
        content: "";
        background-color: #99e2d0;
        height: 2px;
        width: 12%;
        
 
    }

    .aligne_menu{
        display: 	flex;
        justify-content: space-between;
        align-content: space-between;
        flex-direction: row;
        width: 90%;
        margin-left: 5%;
      
    }

    .aligne_menu_prix{
        display: flex;
        justify-content: space-between;
        background-color: white;
        width: 23%;
        margin-bottom: 15px;
        border-radius: 15px;
        box-shadow: 0 0 7px #c1c1c1; /*  changer l'ombre*/
        overflow: hidden;
    }


 


    .description_menu{
        font-family: Roboto;
        padding: 16px;
        font-style: 10px;
        overflow: hidden;       
    }

    .description_menu > p {
  
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-family: Roboto-Light;
        font-weight: 300;
    }

    .description_menu > h5{
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: bold;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
     
    }
    


    .prix{

        align-self: flex-end;
        font-family: Roboto;
        padding-right: 10px;
        padding-bottom: 10px;
    }
 
    .box{ 
        display: flex;
        justify-content: space-between;
        width: 100%;
        overflow: hidden;
    }

    /* coeur */
    
    .coeur{
        display: flex;
        align-items: center;
        margin-right: 10px;
        font-size: 28px;
        color: black;
     

    }

    .coeur_plein{
        position: absolute;
        color: transparent;
        -webkit-background-clip: text;
    }

    .coeur:hover .coeur_plein{
        animation: coeur_change 500ms ease forwards;
    }


    /* fin coeur */



    /* animation scrol */ 

    .scrol_icon{
        content: "";
        background-color:  #99e2d0;
        width: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 30px;
        transition: all 1s ease;
    }

    .aligne_menu_prix:hover .scrol_icon {
        width: 20%;
    }

    .rotate_icon{
        transition: all 1s ease;
        visibility: hidden;
    }
    .aligne_menu_prix:hover .rotate_icon{
  
        visibility: visible;
        animation: rotate-icon 1s forwards;
    }

    /* fin animation scrol*/


    /*  delai apparition*/
    .delay_1{
        opacity: 0;
        animation: delay 2s ease 500ms forwards;
        transform: translate(0, 10%);
    }

    .delay_2{
        opacity: 0;
        animation: delay 2s ease 1s forwards;
        transform: translate(0, 10%);
    }

    .delay_3{
        opacity: 0;
        animation: delay 2s ease 1500ms  forwards;
        transform: translate(0, 10%);
    }

    .delay_4{
        opacity: 0;
        animation: delay 2s ease 2s forwards;
        transform: translate(0, 10%);
    }

    .delay_5{
        opacity: 0;
        animation: delay 2s ease 2500ms forwards;
        transform: translate(0, 10%);
    }

    .delay_6{
        opacity: 0;
        animation: delay 2s ease 3s  forwards;
        transform: translate(0, 10%);
    }

    .delay_7{
        opacity: 0;
        animation: delay 2s ease 3500ms forwards;
        transform: translate(0, 10%);
    }

    .delay_8{
        opacity: 0;
        animation: delay 2s ease 4s forwards;
        transform: translate(0, 10%);
    }

    .delay_9{
        opacity: 0;
        animation: delay 2s ease 4500ms  forwards;
        transform: translate(0, 10%);
    }
    /* fin delai apparition*/


    /*btn */

    .btn_commander{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #686868;
        box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
        background-image: linear-gradient(90deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
        color: white; 
        height: 45px ;
        width: 55%;
        margin: 0px auto;
        padding: 20px;
        font-size: 16px;
        font-weight: bold;
        border: none;
        border-radius: 25px;
        margin-bottom: 100px;
        margin-top: 25px;
    }

    .btn_commander:hover{
        background-image: linear-gradient(90deg, rgba(147,86,220,1) 0%,rgba(147,86,220,1) 100% );
        box-shadow: 0.5rem 0.5rem 10px rgb(0 0 0 / 25%);
        animation: all 2s ease forwards ;
    }


/* fin btn */

  /* Footer */
            
  footer{
    margin-top: 30px;     
    background-color: #353535;
    color: white;
}
    
.aligne_footer{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;     
}

.nav_footer{
    display: flex;
    padding-left: 10px;   
}       
     
.footer_logo{
    margin-bottom: 20px;
    margin-top: 10px;
    color: white;
    font-size: 20px;
    font-family: Shrikhand;         
}
    
.lien_footer{
    padding-bottom: 8px;
    display: flex;
    padding-left: 10px;
}
        
.lien_footer > i{
    padding-right: 10px;
    font-size: 15px;
    width: 15px;
    padding-right: 10px;
}
    
@media screen and (max-width: 900px)
{
    /* Footer */

    .aligne_footer{
        flex-direction: column;
        align-items: flex-start;
    }
    
    .nav_footer{
        flex-direction: column;
    }
    
    .footer_logo{
        font-size: 20px;
    }

    /* description menu */

    .aligne_menu{
        display: 	flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .aligne_menu_prix{
        justify-content: space-between;
        width: 90%;
    }




    /* fin description menu*/
}

@keyframes rotate-icon {
    0%{
        transform: rotate(0deg);
     
    }


    100%{
        transform: rotate(-360deg);
    }
    
}

@keyframes delay {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translate(0,-10%);
    }
    
}

@keyframes coeur_change {
    0%{
      
      opacity: 0;
    }
    100%{
        opacity: 1;
        background-image: linear-gradient(90deg, rgba(153,226,208,1) 0%, rgba(255,121,218,1) 35%, rgba(147,86,220,1) 100%);

    }

    
}