* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body{
    width: 782px;
    font-family: 'Raleway', sans-serif;
    margin-left: auto;
    margin-right: auto;
}


#mise_en_page {
    margin-left: 5px;
}



#logo_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;


}

#logo_nav>img {
    height: 60%;
    margin-left: 20px;
}

nav {
    display: flex;
    width: 30%;
    height: 100%;
}




.menu {

    cursor: pointer;
    height: 100%;
    text-align: center;
    width: 50%;
    line-height: 4;


}

.menu:hover {

    border-top: 2px solid #0065FC;
    color: #0065FC;

}

.menu {
    text-decoration: none;
    color: black;
}

#texte::first-line {
    font-weight: bold;
}


#texte>p {
    margin: 10px 0px;
}

#recherche {
    height: 35px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    margin-bottom: 10px;
}


#logo_map {
    width: 15%;
    background-color: #F2F2F2;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    line-height: 2;
}

#barre_recherche {
    width: 50%;
    border: 1px solid #F2F2F2;
    font-weight: 700;
    padding-left: 15px;
}

#barre_recherche::placeholder {
    color: black;
}



#click_recherche {
    background-color: #0065FC;
    height: 100%;
    width: 35%;
    color: #fff;
    font-weight: 600;
    text-align: center;
    line-height: 2;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

#click_recherche>i {
    visibility: hidden;
}

#filtres_mise_en-page {
    display: flex;
    margin-top: 20px;

}

#zone_filtres {
    list-style: none;
    display: flex;


}

.filtre {
    display: flex;
    margin-left: 20px;
    border-radius: 50px;
    text-align: center;
    border: 2px solid #d9d9d9;
    position: relative;
}

.filtre > i {
    background-color: #DEEBFF;
    padding: 5px;
    border-radius: 100%;
    color: #0065FC;
    height: 27px;
    width: 27px;
    text-align: center;
    padding: 0;
    padding-top: 6px;
    font-size: 14px;
    position: absolute;
    left: -4px;
    top: -2px;
}

.filtre > p {

    margin: 5px 10px 5px 30px;
    font-size: 11px;
    font-weight: 600;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-right: 0px;

}


.filtre:hover {
    color: #0065FC;
    border-color: #0065FC;
}



#info {
    display: flex;
    font-size: 10px;
    height: 20px;
    margin-top: 10px;
    line-height: 2;
}

#info > i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    font-size: 12px;
    border: black 1px solid;
    width: 20px;
    text-align: center;
    border-radius: 100%;
    margin-right: 10px;
}


#aligne_section {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

    height: 350px;
    width: 100%;
}


#hebergement {
    border-radius: 10px;
    width: 60%;
    background-color: #F2F2F2;
}


.titre_section {
    margin: 20px 0px 10px 15px;
    font-size: 12px;
    font-weight: 700;
}

#container {
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;

}



.card {
    border: white 4px solid;
    height: 48%;
    width: 30%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 7px #c1c1c1;
    display: flex;
    flex-direction: column;

}

.image_hotel {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;

}



img:hover {
    filter: grayscale(60%);
}

.card_image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;

}

.card_body {
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    margin-left: 5px;

}



.card_titre {
    font-weight: 1000;
    font-size: 9px;

}


.titre {
    font-size: 9px;
    font-weight: 800;
}

.card_prix {
    font-size: 9px;
    font-weight: 400;

}


.card_note {
    font-size: 8px;
    color: #0065FC;
    width: 100%;
}

.grey {
    color: grey;
}


#afficher {
    padding: 18px;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
}

#populaire {
    border-radius: 8px;
    background-color: #F2F2F2;
    width: 35%;
    height: 100%;

}

#header_populaire {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;


}

#header_populaire>i {

    text-align: center;
    line-height: 3;
}


.container_test {

    height: 87%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}



.card_populaire {
    border: white 5px solid;
    background-color: #fff;
    height: 27%;
    width: 85%;
    border-radius: 10px;
    display: flex;
    box-shadow: 0 0 7px #c1c1c1;
}

.populaire_image {
    height: 100%;
    width: 35%;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.image_populaire {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.titre_prix {
    width: 65%;
    margin-left: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;

}

.titre_hebergement {
    font-size: 13px;
    font-weight: 700;
}

/* Activités à Marseille*/

.activites-container{
    display: flex;
}

.activite_column{
    width: 25%;
    height: 250px;
    margin: 0 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activite_column.activite img{
    height: 220px;
}

.activite{
    border-radius: 15px;
    box-shadow: 0 0 7px #c1c1c1;
}

.activite-heading{
    height: 25px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.activite img{
    width: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.activite h3{
    font-size: 10px;
    font-weight: bold;
}

/* Fin de activités à Marseille */


footer {
    margin-top: 25px;
    width: 100%;
    height: 100px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;

}



.footer {

    height: 100%;
    width: 30%;
}

.option_footer {
    font-size: 12px;
}

footer li:hover {
    font-weight: 600;
    color: #0065FC;
}

.footer>h4 {
    margin: 8px 0px;

}

.footer>ul {
    list-style: none;

}

.liste_footer>li {
    margin: 5px 0px;
    cursor: pointer;
}

@media all and (max-width: 782px) {
    body {
        width: 100%;
        height: auto;
    }
    
}


@media all and (max-width: 768px) {
    #logo_nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 70px;
    }
    .activites-container{
        flex-direction: column;
    }

    nav {
        justify-content: space-around;
        width: 100%;
    }

    .menu {
        width: 50%;
        border-bottom: 3px solid cyan;
    }

    .menu:hover {
        border-top: none;
        border-bottom: 3px solid blue;
    }

    #texte {
        margin-top: 50px;
        text-align: center;
    }
}


@media all and (max-width: 535px) {
    #recherche {
        margin-left: 10px;
    }

    #barre_recherche {
        width: 90%;
    }

    #click_recherche {
        width: 15%;
        border-radius: 15px;
    }

    #click_recherche>p {
        display: none;
    }

    #click_recherche>i {
        visibility: visible;
    }


    #texte {
        font-size: 12px;
    }

    #zone_filtres {
        flex-wrap: wrap;
        margin-left: 0px;
        margin-bottom: 40px;

    }

    #filtres_mise_en-page {
        flex-direction: column;

    }

    .filtre {
        margin-bottom: 12px;
    }

    #aligne_section {
        flex-direction: column-reverse;
        justify-content: start;
        width: 100%;
        height: 1200px;


    }

    #populaire {
        border-radius: 0;
        width: 100%;
        height: 500px;
    }


    #card_populaire {
        height: 100px;
        margin-bottom: 10px;

    }

    #hebergement {
        height: 100%;
        width: 100%;


    }

    #container {
        flex-direction: column;
        flex-wrap: nowrap;
        height: 800px;
        width: 90%;

        margin-left: auto;
        margin-right: auto;


    }

    .card {
        width: 100%;

    }

    .card_body {
        flex-direction: column;
        justify-content: space-between;
    }

    .titre_prix {
        justify-content: space-between;
        flex-direction: column;
    }


    #activite {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        height: 750px;
    }


    .cartes_activites {

        flex-wrap: wrap;
        width: 90%;
        height: 30%;
        margin-bottom: 1px;

    }

    #activite {
        justify-content: flex-start;
    }

    .cartes_activites {
        height: 350px;

        align-content: flex-start;
        margin-bottom: 10px;
    }

    .carte_activite_longue {
        width: 100%;
        height: 110px;
        margin-bottom: 10px;
    }

    .carte_activite_court {
        width: 100%;
        height: 110px;
        margin-bottom: 10px;
    }

    .cartes_activites_courts {
        width: 100%;
        height: 110px;

    }

    .activite_30,
    .activite_70 {
        width: 100%;
        height: 110px;
        margin-bottom: 10px;
    }


    footer {
        flex-direction: column;
        height: auto;

        font-size: 13px;
    }

    .footer {
        margin-left: 20px;
        width: 100%;
    }
}